<div class="view-page">
<button class="collapsible">1. Lorem ipsum dolor sit amet, consectetur adipiscing elit?</button>
<div class="content">
    <p>Donec tristique neque dignissim rutrum venenatis. Maecenas ultricies malesuada libero, nec lobortis dui tincidunt
        eu. Etiam sapien neque, fermentum quis tortor quis, egestas imperdiet neque. Sed quis tellus lectus. Ut
        imperdiet ac dui ultrices porta. Praesent nulla justo, eleifend at pulvinar eget, ornare in nunc. Curabitur sed
        quam nulla. Nunc elementum elit eu viverra interdum. Proin mollis aliquam ante, et efficitur massa pellentesque
        id. Curabitur nisi nunc, porttitor quis orci at, egestas egestas mauris. Sed erat felis, porta ut commodo sed,
        vestibulum sed arcu. Maecenas id tortor commodo, tempus diam ut, iaculis ligula. Aliquam non maximus tortor. Nam
        vestibulum nulla et urna varius malesuada. Vestibulum enim purus, ullamcorper quis magna eget, cursus laoreet
        turpis. Quisque placerat pulvinar ex, sit amet commodo felis dignissim in.</p>
</div>

<button class="collapsible">2. Lorem ipsum dolor sit amet, consectetur adipiscing elit?</button>
<div class="content">
    <p>Donec tristique neque dignissim rutrum venenatis. Maecenas ultricies malesuada libero, nec lobortis dui tincidunt
        eu. Etiam sapien neque, fermentum quis tortor quis, egestas imperdiet neque. Sed quis tellus lectus. Ut
        imperdiet ac dui ultrices porta. Praesent nulla justo, eleifend at pulvinar eget, ornare in nunc. Curabitur sed
        quam nulla. Nunc elementum elit eu viverra interdum. Proin mollis aliquam ante, et efficitur massa pellentesque
        id. Curabitur nisi nunc, porttitor quis orci at, egestas egestas mauris. Sed erat felis, porta ut commodo sed,
        vestibulum sed arcu. Maecenas id tortor commodo, tempus diam ut, iaculis ligula. Aliquam non maximus tortor. Nam
        vestibulum nulla et urna varius malesuada. Vestibulum enim purus, ullamcorper quis magna eget, cursus laoreet
        turpis. Quisque placerat pulvinar ex, sit amet commodo felis dignissim in.</p>
</div>

<button class="collapsible">3. Lorem ipsum dolor sit amet, consectetur adipiscing elit?</button>
<div class="content">
    <p>Donec tristique neque dignissim rutrum venenatis. Maecenas ultricies malesuada libero, nec lobortis dui tincidunt
        eu. Etiam sapien neque, fermentum quis tortor quis, egestas imperdiet neque. Sed quis tellus lectus. Ut
        imperdiet ac dui ultrices porta. Praesent nulla justo, eleifend at pulvinar eget, ornare in nunc. Curabitur sed
        quam nulla. Nunc elementum elit eu viverra interdum. Proin mollis aliquam ante, et efficitur massa pellentesque
        id. Curabitur nisi nunc, porttitor quis orci at, egestas egestas mauris. Sed erat felis, porta ut commodo sed,
        vestibulum sed arcu. Maecenas id tortor commodo, tempus diam ut, iaculis ligula. Aliquam non maximus tortor. Nam
        vestibulum nulla et urna varius malesuada. Vestibulum enim purus, ullamcorper quis magna eget, cursus laoreet
        turpis. Quisque placerat pulvinar ex, sit amet commodo felis dignissim in.</p>
</div>

<button class="collapsible">4. Lorem ipsum dolor sit amet, consectetur adipiscing elit?</button>
<div class="content">
    <p>Donec tristique neque dignissim rutrum venenatis. Maecenas ultricies malesuada libero, nec lobortis dui tincidunt
        eu. Etiam sapien neque, fermentum quis tortor quis, egestas imperdiet neque. Sed quis tellus lectus. Ut
        imperdiet ac dui ultrices porta. Praesent nulla justo, eleifend at pulvinar eget, ornare in nunc. Curabitur sed
        quam nulla. Nunc elementum elit eu viverra interdum. Proin mollis aliquam ante, et efficitur massa pellentesque
        id. Curabitur nisi nunc, porttitor quis orci at, egestas egestas mauris. Sed erat felis, porta ut commodo sed,
        vestibulum sed arcu. Maecenas id tortor commodo, tempus diam ut, iaculis ligula. Aliquam non maximus tortor. Nam
        vestibulum nulla et urna varius malesuada. Vestibulum enim purus, ullamcorper quis magna eget, cursus laoreet
        turpis. Quisque placerat pulvinar ex, sit amet commodo felis dignissim in.</p>
</div>

<button class="collapsible">5. Lorem ipsum dolor sit amet, consectetur adipiscing elit?</button>
<div class="content">
    <p>Donec tristique neque dignissim rutrum venenatis. Maecenas ultricies malesuada libero, nec lobortis dui tincidunt
        eu. Etiam sapien neque, fermentum quis tortor quis, egestas imperdiet neque. Sed quis tellus lectus. Ut
        imperdiet ac dui ultrices porta. Praesent nulla justo, eleifend at pulvinar eget, ornare in nunc. Curabitur sed
        quam nulla. Nunc elementum elit eu viverra interdum. Proin mollis aliquam ante, et efficitur massa pellentesque
        id. Curabitur nisi nunc, porttitor quis orci at, egestas egestas mauris. Sed erat felis, porta ut commodo sed,
        vestibulum sed arcu. Maecenas id tortor commodo, tempus diam ut, iaculis ligula. Aliquam non maximus tortor. Nam
        vestibulum nulla et urna varius malesuada. Vestibulum enim purus, ullamcorper quis magna eget, cursus laoreet
        turpis. Quisque placerat pulvinar ex, sit amet commodo felis dignissim in.</p>
</div>

<button class="collapsible">6. Lorem ipsum dolor sit amet, consectetur adipiscing elit?</button>
<div class="content">
    <p>Donec tristique neque dignissim rutrum venenatis. Maecenas ultricies malesuada libero, nec lobortis dui tincidunt
        eu. Etiam sapien neque, fermentum quis tortor quis, egestas imperdiet neque. Sed quis tellus lectus. Ut
        imperdiet ac dui ultrices porta. Praesent nulla justo, eleifend at pulvinar eget, ornare in nunc. Curabitur sed
        quam nulla. Nunc elementum elit eu viverra interdum. Proin mollis aliquam ante, et efficitur massa pellentesque
        id. Curabitur nisi nunc, porttitor quis orci at, egestas egestas mauris. Sed erat felis, porta ut commodo sed,
        vestibulum sed arcu. Maecenas id tortor commodo, tempus diam ut, iaculis ligula. Aliquam non maximus tortor. Nam
        vestibulum nulla et urna varius malesuada. Vestibulum enim purus, ullamcorper quis magna eget, cursus laoreet
        turpis. Quisque placerat pulvinar ex, sit amet commodo felis dignissim in.</p>
</div>

<button class="collapsible">7. Lorem ipsum dolor sit amet, consectetur adipiscing elit?</button>
<div class="content">
    <p>Donec tristique neque dignissim rutrum venenatis. Maecenas ultricies malesuada libero, nec lobortis dui tincidunt
        eu. Etiam sapien neque, fermentum quis tortor quis, egestas imperdiet neque. Sed quis tellus lectus. Ut
        imperdiet ac dui ultrices porta. Praesent nulla justo, eleifend at pulvinar eget, ornare in nunc. Curabitur sed
        quam nulla. Nunc elementum elit eu viverra interdum. Proin mollis aliquam ante, et efficitur massa pellentesque
        id. Curabitur nisi nunc, porttitor quis orci at, egestas egestas mauris. Sed erat felis, porta ut commodo sed,
        vestibulum sed arcu. Maecenas id tortor commodo, tempus diam ut, iaculis ligula. Aliquam non maximus tortor. Nam
        vestibulum nulla et urna varius malesuada. Vestibulum enim purus, ullamcorper quis magna eget, cursus laoreet
        turpis. Quisque placerat pulvinar ex, sit amet commodo felis dignissim in.</p>
</div>

<button class="collapsible">8. Lorem ipsum dolor sit amet, consectetur adipiscing elit?</button>
<div class="content">
    <p>Donec tristique neque dignissim rutrum venenatis. Maecenas ultricies malesuada libero, nec lobortis dui tincidunt
        eu. Etiam sapien neque, fermentum quis tortor quis, egestas imperdiet neque. Sed quis tellus lectus. Ut
        imperdiet ac dui ultrices porta. Praesent nulla justo, eleifend at pulvinar eget, ornare in nunc. Curabitur sed
        quam nulla. Nunc elementum elit eu viverra interdum. Proin mollis aliquam ante, et efficitur massa pellentesque
        id. Curabitur nisi nunc, porttitor quis orci at, egestas egestas mauris. Sed erat felis, porta ut commodo sed,
        vestibulum sed arcu. Maecenas id tortor commodo, tempus diam ut, iaculis ligula. Aliquam non maximus tortor. Nam
        vestibulum nulla et urna varius malesuada. Vestibulum enim purus, ullamcorper quis magna eget, cursus laoreet
        turpis. Quisque placerat pulvinar ex, sit amet commodo felis dignissim in.</p>
</div>

<button class="collapsible">9. Lorem ipsum dolor sit amet, consectetur adipiscing elit?</button>
<div class="content">
    <p>Donec tristique neque dignissim rutrum venenatis. Maecenas ultricies malesuada libero, nec lobortis dui tincidunt
        eu. Etiam sapien neque, fermentum quis tortor quis, egestas imperdiet neque. Sed quis tellus lectus. Ut
        imperdiet ac dui ultrices porta. Praesent nulla justo, eleifend at pulvinar eget, ornare in nunc. Curabitur sed
        quam nulla. Nunc elementum elit eu viverra interdum. Proin mollis aliquam ante, et efficitur massa pellentesque
        id. Curabitur nisi nunc, porttitor quis orci at, egestas egestas mauris. Sed erat felis, porta ut commodo sed,
        vestibulum sed arcu. Maecenas id tortor commodo, tempus diam ut, iaculis ligula. Aliquam non maximus tortor. Nam
        vestibulum nulla et urna varius malesuada. Vestibulum enim purus, ullamcorper quis magna eget, cursus laoreet
        turpis. Quisque placerat pulvinar ex, sit amet commodo felis dignissim in.</p>
</div>

<button class="collapsible">10. Lorem ipsum dolor sit amet, consectetur adipiscing elit?</button>
<div class="content">
    <p>Donec tristique neque dignissim rutrum venenatis. Maecenas ultricies malesuada libero, nec lobortis dui tincidunt
        eu. Etiam sapien neque, fermentum quis tortor quis, egestas imperdiet neque. Sed quis tellus lectus. Ut
        imperdiet ac dui ultrices porta. Praesent nulla justo, eleifend at pulvinar eget, ornare in nunc. Curabitur sed
        quam nulla. Nunc elementum elit eu viverra interdum. Proin mollis aliquam ante, et efficitur massa pellentesque
        id. Curabitur nisi nunc, porttitor quis orci at, egestas egestas mauris. Sed erat felis, porta ut commodo sed,
        vestibulum sed arcu. Maecenas id tortor commodo, tempus diam ut, iaculis ligula. Aliquam non maximus tortor. Nam
        vestibulum nulla et urna varius malesuada. Vestibulum enim purus, ullamcorper quis magna eget, cursus laoreet
        turpis. Quisque placerat pulvinar ex, sit amet commodo felis dignissim in.</p>
</div>
</div>