<!--title-->
<div class="title coral-bg">
        <h1>IVY'S BLOG</h1>
</div>
<!--menu-->
<ul id="menu" class="coral-bg view-page">
        <li><a href="" ng-click="showPage('/')" ng-class="visiblePageId == '/'? 'menu-active' : 'menu-normal' ">
                <h2>News</h2>
        </a></li>
        <li><a href="" ng-click="showPage('/create')" ng-class="visiblePageId == '/create'? 'menu-active' : 'menu-normal' ">
                <h2>Create Post</h2>
        </a></li>
        <li><a href="" ng-click="showPage('/about')" ng-class="visiblePageId == '/about'? 'menu-active' : 'menu-normal' ">
                <h2>About</h2>
        </a></li>
        <li><a href="" ng-click="showPage('/faq')" ng-class="visiblePageId == '/faq'? 'menu-active' : 'menu-normal' ">
                <h2>FAQ</h2>
        </a></li>
</ul>